@font-face
{
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face
{
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face
{
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.top_menu
{
    text-align: center;
}

.menu_item
{
    list-style: none;
	display: inline-block;
}

.menu_link
{
    text-decoration: none;
    padding: 0 20px;
    line-height: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #282b30;
    display: inline-block;
}

.top_block_wrapper
{
    background: url('../images/top_block.jpg') center center;
    background-size: cover;
    padding: 175px 0;
    text-align: center;
}

.top_block_title_wrapper
{
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    display: inline-block;
}

.top_block_title
{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
    text-transform: uppercase;
}

.content_wrapper
{
    padding: 60px 20px;
    width: 1000px;
    margin: 0 auto;
}

.content_title
{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    text-transform: uppercase;
    color: #282b30;
    margin: 0 0 40px;
}

.text
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 25px;
    color: #282b30;
    max-width: 560px;
}

.content_list
{
    margin: 0 0 40px;
    padding: 0 0 0 20px;
}

.content_list_item
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #282b30;
    max-width: 380px;
}

.order_button
{
    background: #0fa8ea;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
}

.button_light
{
    background: none;
    color: #0fa8ea;
	border: 1px solid #0fa8ea;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
}

.order_title
{
    max-width: 340px;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    color: #2b2b2b;
    margin: 0 0 26px;
}

.order_text_wrapper
{
    display: inline-block;
    width: 430px;
    margin-right: 110px;
	vertical-align: middle;
}

.order_picture_wrapper
{
    display: inline-block;
	vertical-align: middle;
}

.bottom_menu
{
    background: white;
    text-align: center;
}

.email-container {
    position: center;
    width: 300px;
}

.email-container input {
    width: 100%;
    padding-right: 40px; 
}

.email-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.full-width-bg {
    background-color: #e8e6eb; 
    width: 100%;
    padding: 40px 0; 
}

#formBlock {
    display: flex;
    flex-direction: column;
    max-width: 600px; 
    margin: 0 auto; 
   
}

#formBlock .content_title,
#formBlock .text,
#formBlock form {
    align-self: flex-start; 
    text-align: left; 
}

.email-container {
    position: relative;
    width: 600px;
    margin-bottom: 15px;
}

.input-container {
    width: 600px;
    margin-bottom: 15px;
}

.email-container input[type="email"],
.input-container input[type="text"] {
    width: 100%; 
    padding: 15px 50px 15px 60px;
    border: 2px solid #0fa8ea;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    height: 52px;
    box-sizing: border-box;
}

.email-icon {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}



.submit {
    background: #0fa8ea;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    height: 52px;
    width: 600px; 
    font-weight: 700;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
}    


.custom-select {
    position: relative;
    width: 600px;
    margin-bottom: 20px;
}

.custom-select select {
    width: 100%;
    padding: 15px 50px 15px 20px;
    border: 2px solid #0fa8ea;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    height: 52px;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    line-height: 22px; 
}

.custom-select::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url('down-arrow.png') no-repeat center;
    background-size: contain;
    pointer-events: none;
    z-index: 2;
}

.checkbox-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; 
    gap: 30px; 
    width: 600px;
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}


.checkbox-label input[type="checkbox"] {
    display: none;
}


.checkbox-custom {
    width: 20px;
    height: 20px;
    background: url('checkbox-clean.png') no-repeat center;
    background-size: contain;
    margin-right: 10px;
}


.checkbox-label input[type="checkbox"]:checked + .checkbox-custom {
    background: url('checkbox-checked.png') no-repeat center;
    background-size: contain;
}

select, 
button,
input[type="submit"],
input[type="checkbox"] + .checkbox-custom,
.checkbox-label,
a {
    cursor: pointer;
}